body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #d2d2d2;
}

/* Seleziona il contenitore del contatore */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 200px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Seleziona il pulsante decrementa */
#decrementa {
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  background-color: gold;
}

/* Seleziona il pulsante incrementa */
#incrementa {
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  background-color: gold;
}

/* Seleziona il valore del contatore */
#contatore {
  font-size: 24px;
  font-weight: bold;
}

/* Seleziona il pulsante azzera */
#azzera {
  margin: 10px auto;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  background-color: gold;
}

/* Media query per dispositivi mobili */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
